

<div class="d-flex  align-items-center">
  <%= image_tag(avatar_url(user),class:"img-user-small flex-grow-2")%>
  <%= link_to user.name, user, class:"flex-grow-2" %>
  <%if current_user.isAdmin? %>
      <%=form_for user, method: :delete do |f|%>
        <%= f.submit "Delete", class: "btn btn-danger", 
        data: { confirm: 'Are you sure delete user #{user.name} ?' } %>
      <%end%>
  <% end %>
</div>
