

<div class="d-flex align-items-center border border-info m-1 rounded">
  <%= image_tag(avatar_url(user),class:"img-user-small")%>
  <div class="flex-grow-1">
    <%= link_to user.name, user%>
  </div>
  <%if current_user.isAdmin? %>
      <%= link_to "delete", user, method: :delete, 
      data: {confirm: "Are you sure delete user #{user.name} ?" }, 
      class: "btn btn-danger mr-2" unless current_user?(user)%>
  <% end %>

</div>
