    
    <div>
    <%= @course.name %>
    <%= link_to("add a new lesson", 
        new_lesson_path(course_id: @course.id),
        class: "btn btn-primary") if current_user?(Course.find(params[:id]).user) %>
    </div>  

    <% if @lessons.any? %>
        <div class="container-fluid">
            <div class="CourseShowLesson">
                <%= render @lessons || "have no lesson"%> 
            </div>   
        </div>
    <% end %>