<%= @course.name %>

    <% if @lessons.any? %>
        <div class="container-fluid">
            <div class="CourseShowLesson">
                <%= render @lessons %>
            </div>
        </div>
    <% end %>