@import 'bootstrap/dist/css/bootstrap';

.bg-1{
    background-color: #fee2b3;
}
.bg-2{
    background-color: #ffa299;
}
.bg-3{
    background-color: #ad6989;
}
.bg-4{
    background-color: #562349;
}
.bg-11{
    background-color: #eb6383;
}
.bg-22{
    background-color: #fa9191;
}
.bg-33{
    background-color: #ffe9c5;
}
.bg-44{
    background-color: #b4f2e1;
}
.cursor{
    cursor: pointer;
}
h1 {
    color: green;    
}

// a {
//     color: black;
//     text-decoration: none;
// }

// a:hover 
// {
//      color:black; 
//      text-decoration:none; 
//      cursor:pointer;  
// }

// #css when to show all lesson in course
.CourseShowLesson{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        max-width: 650px;
        min-width: 250px;
        border: 1px solid #ddd;
        margin: 7px;
        padding: 5px;
        img{
            height: 100%;
            margin-right: 5px;
            width: 150px;
        }
        h4{
            flex-grow: 1;
        }
        &:hover{
            border: 1px solid chartreuse;
        }
    } 
}

.lessonShowWord{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        max-width: 950px;
        min-width: 250px;
        border: 1px solid #ddd;
        margin: 7px;
        padding: 5px;
        div:nth-child(2){
            flex-grow: 1;
            border: none;
        }
        div:nth-child(1){
            min-width: 90px;
            max-width: 150px;
            border: none;
            border-right: 2px solid;
            height: 100%;
        }
        img{
            height: 100%;
            margin-right: 5px;
            width: 100px;
        }
    }
}

// css for avatar user
.img-user{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px auto;
}
.img-user-small{
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 20px;
}
.bi-volume-up{
    cursor: pointer;
    margin: 5px;
}
.carousel .card{
    height: 415px;
    width: 420px;
    cursor: pointer;
    margin: 10px;
}
#carouselExampleControls{
    border: 1px solid;
    background: #f12f13;
}
.image-flashcard{
    width: 100%;
}
.carousel-control-prev{

}
.carousel-control-next{

}
.fadeout{
    display: none!important;
}

.pagination{
    justify-content: center;
    margin: 20px;
}