<!-- Footer -->
<footer 
style="width:100%; height:65px;background-color:black;color:white;
box-shadow: -3px -3px 19px -10px white;">
  <!-- Copyright -->
  <div class="d-flex justify-content-center align-items-center h-100">
    © 2020 MadeBy :  
    <a href="https://www.facebook.com/ThanhAnStar">  Nguyen Thanh An</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->